# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode
.idea/

# Go prof output
*.prof

# Go test output
*/*.test
*/*.out

# Build output
build
dist

# Dependencies
vendor
glide.lock

# gomobile compilation output
*.aar
*.jar

# dag1 project specific
scripts/certs
scripts/nodes
scripts/peers.json
scripts/docker/upx
nodes
peers.json
certs
dag1_*.log
lachesis_*.log
*.trace
*_linux
*_macos
*_data_dir/

# Graphviz and debug related
*.graph
*.gv
*.sorted
*.finality

# patch and diff files
*.patch
*.diff

# archives
*.tar.gz
*.tgz
*.zip

# Backup copies
*~
*.bak

.#*
